.block {
  width: 25rem;
  height: fit-content;
  padding: 2rem;
  background: linear-gradient(45deg, #4f5ff1, #44b4f6);
  border-radius: 0.7rem;
  box-shadow: 0.5rem 0.5rem 1rem -0.5rem gray;
  overflow-y: auto;
  position: relative;
}
@media screen and (min-width: 600px) {
  .block {
    width: 25rem;
    height: 25rem;
    padding: 2rem;
    background: linear-gradient(45deg, #4f5ff1, #44b4f6);
    border-radius: 0.7rem;
    box-shadow: 0.5rem 0.5rem 1rem -0.5rem gray;
  }
}
